{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Puissance par race</h1>

<ul>
{% for row in powers %}
    <li>{{ row.race }} : {{ row.total }}</li>
{% endfor %}
</ul>

   
{% endblock %}
